<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
        https://www.springframework.org/schema/beans/spring-beans.xsd">
        
        <bean id="missCall" class="com.ibirds.loose_coupling.service_activation.MissedCallAlertService"/>
        <bean id="callerTune" class="com.ibirds.loose_coupling.service_activation.CallertuneService"/>
        <bean id="dataActivation" class="com.ibirds.loose_coupling.service_activation.DataActivation"/>
        
        <bean id="airtel" class="com.ibirds.loose_coupling.service_activation.Airtel">
        	<constructor-arg ref="missCall"/>
        </bean>
</beans>