<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
        https://www.springframework.org/schema/beans/spring-beans.xsd">
        
        <bean id="subjectClass" class="com.ibirds.di.object.ref.Subject"></bean>
        
        <bean id="student" class="com.ibirds.di.object.ref.Student">
        	<property name="id" value="1001"></property>
        	<property name="name" value="Anonymous"></property>
        	<property name="subject" ref="subjectClass"/>
        </bean>
        
        <bean id="anotherStudent" class="com.ibirds.di.object.ref.AnotherStudent">
        	<property name="id" value="1002"></property>
        	<property name="name" value="Anonymous2"></property>
        	<property name="subject" ref="subjectClass"/>
        </bean>
</beans>        